
 .fontWeight {
  font-style: normal;
  font-weight: 500;
  color: '#919191';
}
.blank{
text-align: center;
margin: auto;
}
.tableRow {
cursor: pointer;
}
.menucontainer{
font-weight: 500;
color: "#919191";
display: flex;
justify-content: space-between;
align-items:center;
width:95%;
padding-left:20px;
}

.mainMenu{
  cursor:pointer;
}

.filterDropDown{
  margin-right: 30px;
  padding:5px;
  width:200px;
  display:flex;
  justify-content:space-between;
  align-items:center
}